{"swagger":"2.0","info":{"version":"1.0.0.20201208","title":"iQuote API"},"host":"iquote.sandbox18.preview.cx","basePath":"/api/v1","schemes":["http","https"],"paths":{"/register":{"post":{"tags":["Auth"],"summary":"Register","description":"This endpoint registers a user. If you need to update a profile image, upload the profile image in the background using `/avatar` endpoint.","operationId":"auth_post_register","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"device_id","in":"formData","description":"Unique ID of the device","required":true,"type":"string"},{"name":"device_type","in":"formData","description":"Type of the device `APPLE` or `ANDROID`","required":true,"type":"string"},{"name":"device_push_token","in":"formData","description":"Unique push token for the device","required":false,"type":"string"},{"name":"name","in":"formData","description":"Full name of user","required":true,"type":"string"},{"name":"email","in":"formData","description":"Email address of user","required":true,"type":"string"},{"name":"password","in":"formData","description":"Password. Must be at least 8 characters.","required":true,"type":"string"},{"name":"password_confirmation","in":"formData","description":"Confirm password. Must be at least 8 characters.","required":true,"type":"string"},{"name":"user_type","in":"formData","description":"Type of user 1-business,2-client","required":true,"type":"number"}],"responses":{"200":{"description":"AuthRegisterResponse","schema":{"$ref":"#/definitions/AuthRegisterResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/login":{"post":{"tags":["Auth"],"summary":"Login","description":"","operationId":"auth_post_login","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"device_id","in":"formData","description":"Unique ID of the device","required":true,"type":"string"},{"name":"device_type","in":"formData","description":"Type of the device `APPLE` or `ANDROID`","required":true,"type":"string"},{"name":"device_push_token","in":"formData","description":"Unique push token for the device","required":false,"type":"string"},{"name":"email","in":"formData","description":"Email","required":true,"type":"string"},{"name":"password","in":"formData","description":"Password","required":true,"type":"string"}],"responses":{"200":{"description":"AuthLoginResponse","schema":{"$ref":"#/definitions/AuthLoginResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/password/email":{"post":{"tags":["ForgotPassword"],"summary":"Reset Password","description":"","operationId":"forgotpassword_post_reset_password","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"email","in":"formData","description":"Email","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/password/reset":{"post":{"tags":["ResetPassword"],"summary":"Reset password","description":"Rest password with the token","operationId":"resetpassword_post_reset_password","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"email","in":"formData","description":"email of the user","required":true,"type":"string"},{"name":"token","in":"formData","description":"token received","required":true,"type":"string"},{"name":"password","in":"formData","description":"Password. Must be at least 8 characters.","required":true,"type":"string"},{"name":"password_confirmation","in":"formData","description":"Confirm password. Must be at least 8 characters.","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/guests":{"get":{"tags":["Guest"],"summary":"Guest Settings","description":"Guest settings and parameters","operationId":"guest_get_guest_settings","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/logout":{"get":{"tags":["Auth"],"summary":"Logout","description":"Logout the user from current device","operationId":"auth_get_logout","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"Set to `application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]},{"accessToken":[]}]}},"/profile":{"get":{"tags":["Profile"],"summary":"My Profile","description":"Get currently logged in user's profile","operationId":"profile_get_my_profile","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"Set to `application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"ProfileMyProfileResponse","schema":{"$ref":"#/definitions/ProfileMyProfileResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]},{"accessToken":[]}]},"put":{"tags":["Profile"],"summary":"Update","description":"This endpoint updates the phone number and send verification code","operationId":"profile_put_update","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"name","in":"formData","description":"name to be updated","required":true,"type":"string"},{"name":"email","in":"formData","description":"email to be updated","required":true,"type":"string"}],"responses":{"200":{"description":"ProfileUpdateResponse","schema":{"$ref":"#/definitions/ProfileUpdateResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/avatar":{"post":{"tags":["Profile"],"summary":"Update My Avatar","description":"","operationId":"profile_post_update_my_avatar","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"image","in":"formData","description":"Image","required":true,"type":"file"},{"name":"Accept","in":"header","description":"Set to `application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"ProfileUpdateMyAvatarResponse","schema":{"$ref":"#/definitions/ProfileUpdateMyAvatarResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]},{"accessToken":[]}]}},"/password/edit":{"post":{"tags":["Auth"],"summary":"Update Password","description":"","operationId":"auth_post_update_password","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"password","in":"formData","description":"Password","required":true,"type":"string"},{"name":"current_password","in":"formData","description":"Current password","required":true,"type":"string"},{"name":"password_confirmation","in":"formData","description":"Password confirmation","required":true,"type":"string"},{"name":"Accept","in":"header","description":"Set to `application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]},{"accessToken":[]}]}},"/phone/verify":{"post":{"tags":["Profile"],"summary":"verify phone","description":"This endpoint checks received verification code","operationId":"profile_post_verify_phone","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"code","in":"formData","description":"received code","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/business":{"get":{"tags":["Business"],"summary":"List","description":"This endpoint returns paginated list of the entity","operationId":"business_get_list","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"q","in":"query","description":"text to search ","required":false,"type":"string"}],"responses":{"200":{"description":"BusinessListResponse","schema":{"$ref":"#/definitions/BusinessListResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]},"post":{"tags":["Business"],"summary":"Save","description":"This endpoint save the record in DB","operationId":"business_post_save","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"registered_name","in":"formData","description":"registered name of the business","required":true,"type":"string"},{"name":"service_name","in":"formData","description":"service name of the business","required":true,"type":"string"},{"name":"registered_address","in":"formData","description":"registered address of the business","required":true,"type":"string"},{"name":"service_address","in":"formData","description":"service address of the business","required":true,"type":"string"},{"name":"NZBN","in":"formData","description":"New Zealand business number","required":true,"type":"string"},{"name":"service_radius","in":"formData","description":"radius to be served in km","required":true,"type":"string"}],"responses":{"200":{"description":"BusinessSaveResponse","schema":{"$ref":"#/definitions/BusinessSaveResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/business/{id}":{"get":{"tags":["Business"],"summary":"view","description":"This endpoint view requested entity","operationId":"business_get_view","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"id","in":"path","description":"ID of the entity","required":true,"type":"string"}],"responses":{"200":{"description":"BusinessViewResponse","schema":{"$ref":"#/definitions/BusinessViewResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/business/services":{"post":{"tags":["Business"],"summary":"Attach Services","description":"This endpoint attach given services to the business","operationId":"business_post_attach_services","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"service_ids","in":"formData","description":"comma separated string of service ids that wish to attach current users business","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/business/images":{"post":{"tags":["Business"],"summary":"Save image","description":"This endpoint save the images","operationId":"business_post_save_image","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"image","in":"formData","description":"image to be saved","required":true,"type":"string"}],"responses":{"200":{"description":"BusinessSaveImageResponse","schema":{"$ref":"#/definitions/BusinessSaveImageResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/services":{"get":{"tags":["Business Services"],"summary":"List","description":"This endpoint returns paginated list of the entity","operationId":"business_services_get_list","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"q","in":"query","description":"text to search ","required":false,"type":"string"}],"responses":{"200":{"description":"BusinessServicesListResponse","schema":{"$ref":"#/definitions/BusinessServicesListResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/quotes":{"get":{"tags":["Quotes"],"summary":"List","description":"This endpoint returns paginated list of the entity","operationId":"quotes_get_list","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"q","in":"query","description":"text to search ","required":false,"type":"string"}],"responses":{"200":{"description":"QuotesListResponse","schema":{"$ref":"#/definitions/QuotesListResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]},"post":{"tags":["Quotes"],"summary":"Save","description":"This endpoint save the record in DB","operationId":"quotes_post_save","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"business_id","in":"formData","description":"id of the business to send the quote","required":false,"type":"string"},{"name":"service_id","in":"formData","description":"id of the service quote belongs","required":true,"type":"string"},{"name":"location","in":"formData","description":"address of the client","required":true,"type":"string"},{"name":"date","in":"formData","description":"date for the service","required":true,"type":"string"},{"name":"description","in":"formData","description":"service description","required":false,"type":"string"}],"responses":{"200":{"description":"QuotesSaveResponse","schema":{"$ref":"#/definitions/QuotesSaveResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/quotes/{id}":{"get":{"tags":["Quotes"],"summary":"view","description":"This endpoint view requested entity","operationId":"quotes_get_view","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"},{"name":"id","in":"path","description":"ID of the entity","required":true,"type":"string"}],"responses":{"200":{"description":"QuotesViewResponse","schema":{"$ref":"#/definitions/QuotesViewResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/settings":{"get":{"tags":["Settings"],"summary":"Get Settings","description":"Returns all app settings. Each setting value is identified by the respective key.","operationId":"settings_get_get_settings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Accept","in":"header","description":"`application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"SettingsGetSettingsResponse","schema":{"$ref":"#/definitions/SettingsGetSettingsResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]}]}},"/settings/{key}":{"get":{"tags":["Settings"],"summary":"Get Setting","description":"Returns the value of a single app setting requested by key.","operationId":"settings_get_get_setting","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"key","in":"path","description":"Key of the setting","required":true,"type":"string"},{"name":"Accept","in":"header","description":"Set to `application/json`","required":true,"type":"string"}],"responses":{"200":{"description":"SuccessResponse","schema":{"$ref":"#/definitions/SuccessResponse"}},"401":{"description":"Authentication failed","schema":{"$ref":"#/definitions/ApiErrorUnauthorized"}},"403":{"description":"Access denied","schema":{"$ref":"#/definitions/ApiErrorAccessDenied"}},"422":{"description":"Generic API error. Check `message` for more information.","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"apiKey":[]},{"accessToken":[]}]}}},"securityDefinitions":{"apiKey":{"description":"API Key for application","type":"apiKey","name":"x-api-key","in":"header"},"accessToken":{"description":"Unique user authentication token","type":"apiKey","name":"x-access-token","in":"header"}},"definitions":{"User":{"type":"object","properties":{"id":{"type":"number"},"uuid":{"type":"string"},"name":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"avatar_url":{"type":"string"},"timezone":{"type":"string"},"type":{"type":"number"},"signup_error":{"type":"string"},"business":{"$ref":"#/definitions/Business"},"services":{"type":"string"},"access_token":{"type":"string"}}},"Business":{"type":"object","properties":{"id":{"type":"integer"},"user_id":{"type":"integer"},"registered_name":{"type":"string"},"service_name":{"type":"string"},"NZBN":{"type":"string"},"registered_address":{"type":"string"},"service_address":{"type":"string"},"service_radius":{"type":"number"},"facebook_link":{"type":"string"},"instagram_link":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"phone":{"type":"string"},"images":{"type":"array","items":{"$ref":"#/definitions/Image"}},"services":{"type":"array","items":{"$ref":"#/definitions/Service"}}}},"Device":{"type":"object","properties":{"id":{"type":"integer"},"device_id":{"type":"string"},"device_type":{"type":"string"},"device_push_token":{"type":"string"},"user_id":{"type":"integer"},"access_token":{"type":"string"},"access_token_expires_at":{"type":"string"},"latest_ip_address":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}}},"Service":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"Quote":{"type":"object","properties":{"id":{"type":"integer"},"user_id":{"type":"integer"},"business_id":{"type":"integer"},"service_id":{"type":"integer"},"location":{"type":"string"},"date":{"type":"string"},"description":{"type":"string"},"flag":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"client":{"$ref":"#/definitions/User"},"business":{"$ref":"#/definitions/User"},"service":{"$ref":"#/definitions/Service"}}},"Setting":{"type":"object","properties":{"id":{"type":"integer"},"key":{"type":"string"},"value":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}}},"File":{"type":"object","properties":{"uuid":{"type":"string"},"key":{"type":"string"},"original_filename":{"type":"string"},"public_url":{"type":"string"},"permalink":{"type":"string"}}},"Image":{"type":"object","properties":{"id":{"type":"integer"},"url":{"type":"string"},"thumbnail_url":{"type":"string"},"category":{"type":"string"}}},"SuccessResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"object","properties":{}}}},"Paginator":{"type":"object","properties":{"current_page":{"type":"number"},"per_page":{"type":"number"},"to":{"type":"number"}}},"ApiErrorUnauthorized":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"object","properties":{}}}},"ApiErrorAccessDenied":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"object","properties":{}}}},"ApiError":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"object","properties":{}}}},"AuthRegisterResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/User"}}},"AuthLoginResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/User"}}},"ProfileMyProfileResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/User"}}},"ProfileUpdateResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/User"}}},"ProfileUpdateMyAvatarResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/User"}}},"BusinessListResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"array","items":{"$ref":"#/definitions/Business"}},"paginator":{"$ref":"#/definitions/Paginator"}}},"BusinessViewResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/Business"}}},"BusinessSaveResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/Business"}}},"BusinessSaveImageResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/Business"}}},"BusinessServicesListResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"array","items":{"$ref":"#/definitions/Service"}},"paginator":{"$ref":"#/definitions/Paginator"}}},"QuotesListResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"array","items":{"$ref":"#/definitions/Quote"}},"paginator":{"$ref":"#/definitions/Paginator"}}},"QuotesViewResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/Quote"}}},"QuotesSaveResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"$ref":"#/definitions/Quote"}}},"SettingsGetSettingsResponse":{"type":"object","properties":{"message":{"type":"string"},"result":{"type":"boolean","default":true},"payload":{"type":"array","items":{"$ref":"#/definitions/Setting"}},"paginator":{"$ref":"#/definitions/Paginator"}}}}}