{
    "swagger": "2.0",
    "info": {
        "title": "iQuote API",
        "version": "1.0.0.20201208"
    },
    "host": "iquote.sandbox18.preview.cx",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "\/api\/v1",
    "paths": {
        "\/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "auth_post_register",
                "description": "This endpoint registers a user. If you need to update a profile image, upload the profile image in the background using `\/avatar` endpoint.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "required": true,
                        "description": "Unique ID of the device",
                        "type": "string"
                    },
                    {
                        "name": "device_type",
                        "in": "formData",
                        "required": true,
                        "description": "Type of the device `APPLE` or `ANDROID`",
                        "type": "string"
                    },
                    {
                        "name": "device_push_token",
                        "in": "formData",
                        "required": false,
                        "description": "Unique push token for the device",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "description": "Full name of user",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "description": "Email address of user",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "description": "Password. Must be at least 8 characters.",
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "formData",
                        "required": true,
                        "description": "Confirm password. Must be at least 8 characters.",
                        "type": "string"
                    },
                    {
                        "name": "user_type",
                        "in": "formData",
                        "required": true,
                        "description": "Type of user 1-business,2-client",
                        "type": "number"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/AuthRegisterResponse"
                        },
                        "description": "AuthRegisterResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "auth_post_login",
                "description": "",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "required": true,
                        "description": "Unique ID of the device",
                        "type": "string"
                    },
                    {
                        "name": "device_type",
                        "in": "formData",
                        "required": true,
                        "description": "Type of the device `APPLE` or `ANDROID`",
                        "type": "string"
                    },
                    {
                        "name": "device_push_token",
                        "in": "formData",
                        "required": false,
                        "description": "Unique push token for the device",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "description": "Email",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "description": "Password",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/AuthLoginResponse"
                        },
                        "description": "AuthLoginResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/password\/email": {
            "post": {
                "tags": [
                    "ForgotPassword"
                ],
                "summary": "Reset Password",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "forgotpassword_post_reset_password",
                "description": "",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "description": "Email",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/password\/reset": {
            "post": {
                "tags": [
                    "ResetPassword"
                ],
                "summary": "Reset password",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "resetpassword_post_reset_password",
                "description": "Rest password with the token",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "description": "email of the user",
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "required": true,
                        "description": "token received",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "description": "Password. Must be at least 8 characters.",
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "formData",
                        "required": true,
                        "description": "Confirm password. Must be at least 8 characters.",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/guests": {
            "get": {
                "tags": [
                    "Guest"
                ],
                "summary": "Guest Settings",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "guest_get_guest_settings",
                "description": "Guest settings and parameters",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/logout": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "auth_get_logout",
                "description": "Logout the user from current device",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "Set to `application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "accessToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "My Profile",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "profile_get_my_profile",
                "description": "Get currently logged in user's profile",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "Set to `application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "accessToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/ProfileMyProfileResponse"
                        },
                        "description": "ProfileMyProfileResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            },
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "profile_put_update",
                "description": "This endpoint updates the phone number and send verification code",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": true,
                        "description": "name to be updated",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": true,
                        "description": "email to be updated",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/ProfileUpdateResponse"
                        },
                        "description": "ProfileUpdateResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/avatar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update My Avatar",
                "consumes": [
                    "multipart\/form-data"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "profile_post_update_my_avatar",
                "description": "",
                "parameters": [
                    {
                        "name": "image",
                        "in": "formData",
                        "required": true,
                        "description": "Image",
                        "type": "file"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "Set to `application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "accessToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/ProfileUpdateMyAvatarResponse"
                        },
                        "description": "ProfileUpdateMyAvatarResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/password\/edit": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update Password",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "auth_post_update_password",
                "description": "",
                "parameters": [
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "description": "Password",
                        "type": "string"
                    },
                    {
                        "name": "current_password",
                        "in": "formData",
                        "required": true,
                        "description": "Current password",
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "formData",
                        "required": true,
                        "description": "Password confirmation",
                        "type": "string"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "Set to `application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "accessToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/phone\/verify": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "verify phone",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "profile_post_verify_phone",
                "description": "This endpoint checks received verification code",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "required": true,
                        "description": "received code",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/business": {
            "get": {
                "tags": [
                    "Business"
                ],
                "summary": "List",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_get_list",
                "description": "This endpoint returns paginated list of the entity",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "description": "text to search ",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/BusinessListResponse"
                        },
                        "description": "BusinessListResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            },
            "post": {
                "tags": [
                    "Business"
                ],
                "summary": "Save",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_post_save",
                "description": "This endpoint save the record in DB",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "registered_name",
                        "in": "formData",
                        "required": true,
                        "description": "registered name of the business",
                        "type": "string"
                    },
                    {
                        "name": "service_name",
                        "in": "formData",
                        "required": true,
                        "description": "service name of the business",
                        "type": "string"
                    },
                    {
                        "name": "registered_address",
                        "in": "formData",
                        "required": true,
                        "description": "registered address of the business",
                        "type": "string"
                    },
                    {
                        "name": "service_address",
                        "in": "formData",
                        "required": true,
                        "description": "service address of the business",
                        "type": "string"
                    },
                    {
                        "name": "NZBN",
                        "in": "formData",
                        "required": true,
                        "description": "New Zealand business number",
                        "type": "string"
                    },
                    {
                        "name": "service_radius",
                        "in": "formData",
                        "required": true,
                        "description": "radius to be served in km",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/BusinessSaveResponse"
                        },
                        "description": "BusinessSaveResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/business\/{id}": {
            "get": {
                "tags": [
                    "Business"
                ],
                "summary": "view",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_get_view",
                "description": "This endpoint view requested entity",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "ID of the entity",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/BusinessViewResponse"
                        },
                        "description": "BusinessViewResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/business\/services": {
            "post": {
                "tags": [
                    "Business"
                ],
                "summary": "Attach Services",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_post_attach_services",
                "description": "This endpoint attach given services to the business",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "service_ids",
                        "in": "formData",
                        "required": true,
                        "description": "comma separated string of service ids that wish to attach current users business",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/business\/images": {
            "post": {
                "tags": [
                    "Business"
                ],
                "summary": "Save image",
                "consumes": [
                    "multipart\/form-data"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_post_save_image",
                "description": "This endpoint save the images",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "formData",
                        "required": true,
                        "description": "image to be saved",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/BusinessSaveImageResponse"
                        },
                        "description": "BusinessSaveImageResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/services": {
            "get": {
                "tags": [
                    "Business Services"
                ],
                "summary": "List",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "business_services_get_list",
                "description": "This endpoint returns paginated list of the entity",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "description": "text to search ",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/BusinessServicesListResponse"
                        },
                        "description": "BusinessServicesListResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/quotes": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "List",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "quotes_get_list",
                "description": "This endpoint returns paginated list of the entity",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "description": "text to search ",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/QuotesListResponse"
                        },
                        "description": "QuotesListResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            },
            "post": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Save",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "quotes_post_save",
                "description": "This endpoint save the record in DB",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "business_id",
                        "in": "formData",
                        "required": false,
                        "description": "id of the business to send the quote",
                        "type": "string"
                    },
                    {
                        "name": "service_id",
                        "in": "formData",
                        "required": true,
                        "description": "id of the service quote belongs",
                        "type": "string"
                    },
                    {
                        "name": "location",
                        "in": "formData",
                        "required": true,
                        "description": "address of the client",
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "required": true,
                        "description": "date for the service",
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "description": "service description",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/QuotesSaveResponse"
                        },
                        "description": "QuotesSaveResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/quotes\/{id}": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "view",
                "consumes": [
                    "application\/json",
                    "application\/x-www-form-urlencoded"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "quotes_get_view",
                "description": "This endpoint view requested entity",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "ID of the entity",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/QuotesViewResponse"
                        },
                        "description": "QuotesViewResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get Settings",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "settings_get_get_settings",
                "description": "Returns all app settings. Each setting value is identified by the respective key.",
                "parameters": [
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "`application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SettingsGetSettingsResponse"
                        },
                        "description": "SettingsGetSettingsResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        },
        "\/settings\/{key}": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get Setting",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "operationId": "settings_get_get_setting",
                "description": "Returns the value of a single app setting requested by key.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Key of the setting",
                        "type": "string"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "description": "Set to `application\/json`",
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "accessToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#\/definitions\/SuccessResponse"
                        },
                        "description": "SuccessResponse"
                    },
                    "401": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorUnauthorized"
                        },
                        "description": "Authentication failed"
                    },
                    "403": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiErrorAccessDenied"
                        },
                        "description": "Access denied"
                    },
                    "422": {
                        "schema": {
                            "$ref": "#\/definitions\/ApiError"
                        },
                        "description": "Generic API error. Check `message` for more information."
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "apiKey": {
            "type": "apiKey",
            "name": "x-api-key",
            "in": "header",
            "description": "API Key for application"
        },
        "accessToken": {
            "type": "apiKey",
            "name": "x-access-token",
            "in": "header",
            "description": "Unique user authentication token"
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "number"
                },
                "uuid": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "avatar_url": {
                    "type": "string"
                },
                "timezone": {
                    "type": "string"
                },
                "type": {
                    "type": "number"
                },
                "signup_error": {
                    "type": "string"
                },
                "business": {
                    "$ref": "#\/definitions\/Business"
                },
                "services": {
                    "type": "string"
                },
                "access_token": {
                    "type": "string"
                }
            }
        },
        "Business": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "user_id": {
                    "type": "integer"
                },
                "registered_name": {
                    "type": "string"
                },
                "service_name": {
                    "type": "string"
                },
                "NZBN": {
                    "type": "string"
                },
                "registered_address": {
                    "type": "string"
                },
                "service_address": {
                    "type": "string"
                },
                "service_radius": {
                    "type": "number"
                },
                "facebook_link": {
                    "type": "string"
                },
                "instagram_link": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "images": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Image"
                    }
                },
                "services": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Service"
                    }
                }
            }
        },
        "Device": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "device_id": {
                    "type": "string"
                },
                "device_type": {
                    "type": "string"
                },
                "device_push_token": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                },
                "access_token": {
                    "type": "string"
                },
                "access_token_expires_at": {
                    "type": "string"
                },
                "latest_ip_address": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "Service": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "Quote": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "user_id": {
                    "type": "integer"
                },
                "business_id": {
                    "type": "integer"
                },
                "service_id": {
                    "type": "integer"
                },
                "location": {
                    "type": "string"
                },
                "date": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "flag": {
                    "type": "boolean"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "client": {
                    "$ref": "#\/definitions\/User"
                },
                "business": {
                    "$ref": "#\/definitions\/User"
                },
                "service": {
                    "$ref": "#\/definitions\/Service"
                }
            }
        },
        "Setting": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "File": {
            "type": "object",
            "properties": {
                "uuid": {
                    "type": "string"
                },
                "key": {
                    "type": "string"
                },
                "original_filename": {
                    "type": "string"
                },
                "public_url": {
                    "type": "string"
                },
                "permalink": {
                    "type": "string"
                }
            }
        },
        "Image": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "url": {
                    "type": "string"
                },
                "thumbnail_url": {
                    "type": "string"
                },
                "category": {
                    "type": "string"
                }
            }
        },
        "SuccessResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "object"
                }
            }
        },
        "Paginator": {
            "type": "object",
            "properties": {
                "current_page": {
                    "type": "number"
                },
                "per_page": {
                    "type": "number",
                    "default": 50
                },
                "to": {
                    "type": "number"
                }
            }
        },
        "ApiErrorUnauthorized": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "object"
                }
            }
        },
        "ApiErrorAccessDenied": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "object"
                }
            }
        },
        "ApiError": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "object"
                }
            }
        },
        "AuthRegisterResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/User"
                }
            }
        },
        "AuthLoginResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/User"
                }
            }
        },
        "ProfileMyProfileResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/User"
                }
            }
        },
        "ProfileUpdateResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/User"
                }
            }
        },
        "ProfileUpdateMyAvatarResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/User"
                }
            }
        },
        "BusinessListResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Business"
                    }
                },
                "paginator": {
                    "$ref": "#\/definitions\/Paginator"
                }
            }
        },
        "BusinessViewResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/Business"
                }
            }
        },
        "BusinessSaveResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/Business"
                }
            }
        },
        "BusinessSaveImageResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/Business"
                }
            }
        },
        "BusinessServicesListResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Service"
                    }
                },
                "paginator": {
                    "$ref": "#\/definitions\/Paginator"
                }
            }
        },
        "QuotesListResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Quote"
                    }
                },
                "paginator": {
                    "$ref": "#\/definitions\/Paginator"
                }
            }
        },
        "QuotesViewResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/Quote"
                }
            }
        },
        "QuotesSaveResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "$ref": "#\/definitions\/Quote"
                }
            }
        },
        "SettingsGetSettingsResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "result": {
                    "type": "boolean",
                    "default": true
                },
                "payload": {
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Setting"
                    }
                },
                "paginator": {
                    "$ref": "#\/definitions\/Paginator"
                }
            }
        }
    }
}